:root {
  --blue-900: #303441;
  --purple-300: #507bff;
  --gray-900: #303441;
}

@custom-media --min-tablet (min-width: 1024px);
@custom-media --max-tablet (max-width: 1024px);

@custom-media --min-mobile-landscape (min-width: 768px);
@custom-media --max-mobile-landscape (max-width: 768px);

@custom-media --min-mobile (min-width: 500px);
@custom-media --max-mobile (max-width: 500px);

@custom-selector :--h
  h1:not([class*='text-']),
  h2:not([class*='text-']),
  h3:not([class*='text-']),
  h4:not([class*='text-']),
  h5:not([class*='text-']),
  h6:not([class*='text-']);

@custom-selector :--non-sans-h
  h1:not(.font-sans),
  h2:not(.font-sans),
  h3:not(.font-sans),
  h4:not(.font-sans),
  h5:not(.font-sans),
  h6:not(.font-sans);

@custom-selector :--h1 h1:not([class*='text-']);
@custom-selector :--h2 h2:not([class*='text-']);
@custom-selector :--h3 h3:not([class*='text-']);
@custom-selector :--h4 h4:not([class*='text-']);
@custom-selector :--h5 h5:not([class*='text-']);
@custom-selector :--h6 h6:not([class*='text-']);

@custom-selector :--lists ul:not(.unstyled), ol:not(.unstyled);
@custom-selector :--ul ul:not(.unstyled);
@custom-selector :--ol ol:not(.unstyled);
