.text {
  :--h {
    @apply font-serif  font-regular;
  }

  :--h2 {
    @apply mb-16 text-6xl;
  }

  :--h3 {
    @apply mb-10 text-4xl;
  }

  :--h4 {
    @apply mb-10 text-3-5xl;
  }

  :--h5 {
    @apply mb-8 text-3-5xl;
  }

  :--h6 {
    @apply mb-6 text-2xl;
  }

  p {
    @apply mb-10 text-md leading-snug;
  }

  img {
    width: 100%;
    height: auto;

    &:not([class*='mb']) {
      @apply mb-10;
    }
  }

  :--lists {
    @apply mb-10;

    li {
      @apply pl-8 text-md leading-snug;

      &:not(:last-child) {
        @apply mb-6;
      }
    }
  }

  :--ul {
    & > li {
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        top: 0.65rem;

        width: 4px;
        height: 4px;

        background: inherit;

        border-radius: 50%;

        content: '';
      }
    }

    &.bullets-blue-300 {
      & > li {
        &:before {
          @apply bg-blue-200;
        }
      }
    }
  }

  :--ol {
    counter-reset: my-awesome-counter;

    & > li {
      position: relative;

      counter-increment: my-awesome-counter;

      &:before {
        position: absolute;
        left: 0;

        font-size: inherit;
        color: inherit;

        content: counter(my-awesome-counter) '. ';
      }
    }
  }

  &.text-on-page {
    :--h2 {
      @apply mb-5 text-4-5xl;
    }

    :--h3 {
      @apply mb-5 text-4xl;
    }

    :--h4 {
      @apply mb-5 text-3-5xl;
    }

    :--h5 {
      @apply mb-5 text-3-5xl;
    }

    :--h6 {
      @apply mb-5 text-2xl;
    }

    p {
      @apply mb-12 text-md leading-relaxed;
    }

    img {
      width: 100%;
      height: auto;

      @apply mt-24;

      &:not([class*='mb']) {
        @apply mb-30;
      }
    }

    :--lists {
      @apply mb-10;

      li {
        @apply pl-8 text-md leading-snug;

        &:not(:last-child) {
          @apply mb-4;
        }
      }
    }

    :--ul {
      li {
        &:before {
          background: inherit;
        }
      }
    }

    :--ol {
      li {
        &:before {
          font-size: inherit;
        }
      }
    }
  }

  &.prepend-line {
    position: relative;

    @apply pl-40;

    &:before {
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 0;

      width: 57px;
      height: 1px;

      border-bottom: 3px solid var(--purple-300);
      border-radius: 3px;

      content: '';
    }
  }

  @media (--max-tablet) {
    &.prepend-line {
      @apply pl-20;
    }

    &,
    &.text-on-page {
      :--h2 {
        @apply mb-8 text-4xl;
      }

      :--h3 {
        @apply mb-8 text-3xl;
      }

      :--h5 {
        @apply mb-6 text-2xl;
      }

      :--h6 {
        @apply mb-6 text-xl;
      }

      :--lists {
        @apply mb-8;

        li {
          @apply pl-6;

          &:not(:last-child) {
            @apply mb-6;
          }
        }
      }

      p {
        @apply mb-8;
      }

      img {
        @apply mt-16 mb-20;
      }
    }
  }

  @media (--max-mobile-landscape) {
    &.prepend-line {
      @apply pl-3;

      &:before {
        left: 0.75rem;
        top: -15px;
      }
    }
  }

  @media (--max-mobile) {
    &,
    &.text-on-page {
      :--h2 {
        @apply mb-8 text-3xl;
      }

      :--h3 {
        @apply mb-6 text-2xl;
      }

      :--h5 {
        @apply mb-4 text-xl;
      }

      :--h6 {
        @apply mb-4 text-xl;
      }

      :--lists {
        @apply mb-6;

        li {
          @apply pl-4 text-base;

          &:not(:last-child) {
            @apply mb-4;
          }
        }
      }

      img {
        @apply mt-8 mb-6;
      }

      p {
        @apply mb-6 text-base;
      }
    }
  }
}

ul.styled_docs {
  & > li {
    position: relative;

    @apply pl-8;

    &:before {
      position: absolute;
      left: 0;

      width: 18px;
      height: 22px;
      background: url('../images/svg/docs-svg.svg');

      content: '';
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}

ol.decimal {
  counter-reset: my-awesome-counter;

  & > li {
    position: relative;

    counter-increment: my-awesome-counter;

    @apply pl-10;

    &:before {
      position: absolute;
      left: 0;

      content: counter(my-awesome-counter) '. ';
    }
  }
}

@media (--max-tablet) {
  ol.decimal {
    & > li {
      @apply pl-8;
    }
  }
}

@media (--max-mobile-landscape) {
  ol.decimal {
    & > li {
      @apply pl-6;
    }
  }
}
