html {
  /* font-size: 13px; */
}

/* Serif */
@font-face {
  font-weight: 300;
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-display: swap;
  src: local('IBMPlexSerif-Light'),
    url('../fonts/IBMPlexSerif-Light.ttf') format('truetype');
}

/* Sans */
@font-face {
  font-weight: 200;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  src: local('IBMPlexSans-ExtraLight'),
    url('../fonts/IBMPlexSans-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-weight: 400;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  src: local('IBMPlexSans-Regular'),
    url('../fonts/IBMPlexSans-Regular.ttf') format('truetype');
}

@font-face {
  font-weight: 500;
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-display: swap;
  src: local('IBMPlexSans-SemiBold'),
    url('../fonts/IBMPlexSans-SemiBold.ttf') format('truetype');
}
