:--h {
  @apply font-serif  font-regular;
}

:--h2 {
  @apply text-6xl leading-none;
}

:--h3 {
  @apply text-4xl leading-tight;
}

:--h5 {
  @apply text-3-5xl leading-tight;
}

:--h6 {
  @apply text-2xl leading-tight;
}

@media (--max-tablet) {
  :--h2 {
    @apply text-4xl;
  }

  :--h3 {
    @apply text-3xl;
  }

  :--h5 {
    @apply text-2xl;
  }

  :--h6 {
    @apply text-xl;
  }
}

@media (--max-mobile) {
  :--h2 {
    @apply text-3xl;
  }

  :--h3 {
    @apply text-2xl;
  }

  :--h5 {
    @apply text-xl;
  }

  :--h6 {
    @apply text-xl;
  }
}

@custom-selector :--h-append-line
  .text .text-6xl.append-line,
  .text h2.append-line,
  .text.text-on-page h2.append-line,
  .text-6xl.append-line,
  h2.append-line,
  .text .text-4xl.append-line,
  .text h3.append-line,
  .text.text-on-page h3.append-line,
  .text-4xl.append-line,
  h3.append-line,
  .text .text-3-5xl.append-line,
  .text h5.append-line,
  .text.text-on-page h5.append-line,
  .text-3-5xl.append-line,
  h5.append-line;

@custom-selector :--h2-append-line
  .text .text-6xl,
  .text h2.append-lin,
  .text.text-on-page h2.append-line,
  .text-6xl.append-line,
  h2.append-line;

@custom-selector :--h3-append-line
  .text .text-4xl.append-line,
  .text h3.append-line,
  .text.text-on-page h3.append-line,
  .text-4xl.append-line,
  h3.append-line;

@custom-selector :--h5-append-line
  .text .text-3-5xl.append-line,
  .text h5.append-line,
  .text.text-on-page h5.append-line,
  .text-3-5xl.append-line,
  h5.append-line;

:--h-append-line {
  position: relative;

  &:after {
    position: absolute;
    z-index: 1;
    left: 0;

    width: 57px;
    height: 1px;

    border-bottom: 3px solid var(--purple-300);
    border-radius: 3px;

    content: '';
  }
}

:--h2-append-line {
  margin-bottom: 70px;

  &:after {
    bottom: -40px;
  }
}

:--h3-append-line {
  margin-bottom: 70px;

  &:after {
    bottom: -40px;
  }
}

:--h5-append-line {
  margin-bottom: 60px;

  &:after {
    bottom: -30px;
  }
}

@media (--max-tablet) {
  :--h2-append-line {
    margin-bottom: 35px;

    &:after {
      bottom: -20px;
      width: 50px;
    }
  }

  :--h3-append-line {
    margin-bottom: 35px;

    &:after {
      bottom: -20px;
      width: 50px;
    }
  }

  :--h5-append-line {
    margin-bottom: 25px;

    &:after {
      bottom: -15px;
      width: 50px;
    }
  }
}

.append-line-to-right {
  position: relative;

  display: table;

  &:after {
    position: absolute;
    top: 60%;
    right: -64px;

    width: 33px;
    height: 0;
    border-bottom: 2px solid var(--purple-300);

    transform: translateY(-40%);

    content: '';
  }
}
