.space-y-0 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(0px * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(0px * var(1 - var(--space-y-reverse)));
}

.space-x-0 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(0px * var(--space-x-reverse)); */
  margin-right: calc(0px * calc(1 - var(--space-x-reverse)));
}

.space-y-1 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(0.25rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(0.25rem * var(1 - var(--space-y-reverse)));
}

.space-x-1 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(0.25rem * var(--space-x-reverse)); */
  margin-right: calc(0.25rem * calc(1 - var(--space-x-reverse)));
}

.space-y-2 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(0.5rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(0.5rem * var(1 - var(--space-y-reverse)));
}

.space-x-2 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(0.5rem * var(--space-x-reverse)); */
  margin-right: calc(0.5rem * calc(1 - var(--space-x-reverse)));
}

.space-y-3 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(0.75rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(0.75rem * var(1 - var(--space-y-reverse)));
}

.space-x-3 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(0.75rem * var(--space-x-reverse)); */
  margin-right: calc(0.75rem * calc(1 - var(--space-x-reverse)));
}

.space-y-4 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(1rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(1rem * var(1 - var(--space-y-reverse)));
}

.space-x-4 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(1rem * var(--space-x-reverse)); */
  margin-right: calc(1rem * calc(1 - var(--space-x-reverse)));
}

.space-y-5 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(1.25rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(1.25rem * var(1 - var(--space-y-reverse)));
}

.space-x-5 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(1.25rem * var(--space-x-reverse)); */
  margin-right: calc(1.25rem * calc(1 - var(--space-x-reverse)));
}

.space-y-6 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(1.5rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(1.5rem * var(1 - var(--space-y-reverse)));
}

.space-x-6 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(1.5rem * var(--space-x-reverse)); */
  margin-right: calc(1.5rem * calc(1 - var(--space-x-reverse)));
}

.space-y-7 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(1.75rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(1.75rem * var(1 - var(--space-y-reverse)));
}

.space-x-7 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(1.75rem * var(--space-x-reverse)); */
  margin-right: calc(1.75rem * calc(1 - var(--space-x-reverse)));
}

.space-y-8 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(2rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(2rem * var(1 - var(--space-y-reverse)));
}

.space-x-8 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(2rem * var(--space-x-reverse)); */
  margin-right: calc(2rem * calc(1 - var(--space-x-reverse)));
}

.space-y-10 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(2.5rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(2.5rem * var(1 - var(--space-y-reverse)));
}

.space-x-10 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(2.5rem * var(--space-x-reverse)); */
  margin-right: calc(2.5rem * calc(1 - var(--space-x-reverse)));
}

.space-y-12 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(3rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(3rem * var(1 - var(--space-y-reverse)));
}

.space-x-12 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(3rem * var(--space-x-reverse)); */
  margin-right: calc(3rem * calc(1 - var(--space-x-reverse)));
}

.space-y-16 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(4rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(4rem * var(1 - var(--space-y-reverse)));
}

.space-x-16 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(4rem * var(--space-x-reverse)); */
  margin-right: calc(4rem * calc(1 - var(--space-x-reverse)));
}

.space-y-20 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(5rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(5rem * var(1 - var(--space-y-reverse)));
}

.space-x-20 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(5rem * var(--space-x-reverse)); */
  margin-right: calc(5rem * calc(1 - var(--space-x-reverse)));
}

.space-y-24 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(6rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(6rem * var(1 - var(--space-y-reverse)));
}

.space-x-24 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(6rem * var(--space-x-reverse)); */
  margin-right: calc(6rem * calc(1 - var(--space-x-reverse)));
}

.space-y-32 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(8rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(8rem * var(1 - var(--space-y-reverse)));
}

.space-x-32 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(8rem * var(--space-x-reverse)); */
  margin-right: calc(8rem * calc(1 - var(--space-x-reverse)));
}

.space-y-40 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(10rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(10rem * var(1 - var(--space-y-reverse)));
}

.space-x-40 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(10rem * var(--space-x-reverse)); */
  margin-right: calc(10rem * calc(1 - var(--space-x-reverse)));
}

.space-y-48 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(12rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(12rem * var(1 - var(--space-y-reverse)));
}

.space-x-48 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(12rem * var(--space-x-reverse)); */
  margin-right: calc(12rem * calc(1 - var(--space-x-reverse)));
}

.space-y-56 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(14rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(14rem * var(1 - var(--space-y-reverse)));
}

.space-x-56 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(14rem * var(--space-x-reverse)); */
  margin-right: calc(14rem * calc(1 - var(--space-x-reverse)));
}

.space-y-64 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(16rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(16rem * var(1 - var(--space-y-reverse)));
}

.space-x-64 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(16rem * var(--space-x-reverse)); */
  margin-right: calc(16rem * calc(1 - var(--space-x-reverse)));
}

.space-y-px > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(1px * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(1px * var(1 - var(--space-y-reverse)));
}

.space-x-px > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(1px * var(--space-x-reverse)); */
  margin-right: calc(1px * calc(1 - var(--space-x-reverse)));
}

.-space-y-1 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-0.25rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-0.25rem * var(1 - var(--space-y-reverse)));
}

.-space-x-1 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-0.25rem * var(--space-x-reverse)); */
  margin-right: calc(-0.25rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-2 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-0.5rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-0.5rem * var(1 - var(--space-y-reverse)));
}

.-space-x-2 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-0.5rem * var(--space-x-reverse)); */
  margin-right: calc(-0.5rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-3 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-0.75rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-0.75rem * var(1 - var(--space-y-reverse)));
}

.-space-x-3 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-0.75rem * var(--space-x-reverse)); */
  margin-right: calc(-0.75rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-4 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-1rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-1rem * var(1 - var(--space-y-reverse)));
}

.-space-x-4 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-1rem * var(--space-x-reverse)); */
  margin-right: calc(-1rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-5 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-1.25rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-1.25rem * var(1 - var(--space-y-reverse)));
}

.-space-x-5 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-1.25rem * var(--space-x-reverse)); */
  margin-right: calc(-1.25rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-6 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-1.5rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-1.5rem * var(1 - var(--space-y-reverse)));
}

.-space-x-6 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-1.5rem * var(--space-x-reverse)); */
  margin-right: calc(-1.5rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-7 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-1.75rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-1.75rem * var(1 - var(--space-y-reverse)));
}

.-space-x-7 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-1.75rem * var(--space-x-reverse)); */
  margin-right: calc(-1.75rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-8 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-2rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-2rem * var(1 - var(--space-y-reverse)));
}

.-space-x-8 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-2rem * var(--space-x-reverse)); */
  margin-right: calc(-2rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-10 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-2.5rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-2.5rem * var(1 - var(--space-y-reverse)));
}

.-space-x-10 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-2.5rem * var(--space-x-reverse)); */
  margin-right: calc(-2.5rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-12 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-3rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-3rem * var(1 - var(--space-y-reverse)));
}

.-space-x-12 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-3rem * var(--space-x-reverse)); */
  margin-right: calc(-3rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-16 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-4rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-4rem * var(1 - var(--space-y-reverse)));
}

.-space-x-16 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-4rem * var(--space-x-reverse)); */
  margin-right: calc(-4rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-20 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-5rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-5rem * var(1 - var(--space-y-reverse)));
}

.-space-x-20 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-5rem * var(--space-x-reverse)); */
  margin-right: calc(-5rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-24 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-6rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-6rem * var(1 - var(--space-y-reverse)));
}

.-space-x-24 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-6rem * var(--space-x-reverse)); */
  margin-right: calc(-6rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-32 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-8rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-8rem * var(1 - var(--space-y-reverse)));
}

.-space-x-32 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-8rem * var(--space-x-reverse)); */
  margin-right: calc(-8rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-40 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-10rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-10rem * var(1 - var(--space-y-reverse)));
}

.-space-x-40 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-10rem * var(--space-x-reverse)); */
  margin-right: calc(-10rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-48 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-12rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-12rem * var(1 - var(--space-y-reverse)));
}

.-space-x-48 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-12rem * var(--space-x-reverse)); */
  margin-right: calc(-12rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-56 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-14rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-14rem * var(1 - var(--space-y-reverse)));
}

.-space-x-56 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-14rem * var(--space-x-reverse)); */
  margin-right: calc(-14rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-64 > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-16rem * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-16rem * var(1 - var(--space-y-reverse)));
}

.-space-x-64 > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-16rem * var(--space-x-reverse)); */
  margin-right: calc(-16rem * calc(1 - var(--space-x-reverse)));
}

.-space-y-px > :not(:last-child) {
  --space-y-reverse: 0;
  /* margin-top: calc(-1px * calc(1 - var(--space-y-reverse))); */
  margin-bottom: calc(-1px * var(1 - var(--space-y-reverse)));
}

.-space-x-px > :not(:last-child) {
  --space-x-reverse: 0;
  /* margin-left: calc(-1px * var(--space-x-reverse)); */
  margin-right: calc(-1px * calc(1 - var(--space-x-reverse)));
}

.space-y-reverse > :not(:last-child) {
  --space-y-reverse: 1;
}

.space-x-reverse > :not(:last-child) {
  --space-x-reverse: 1;
}
