<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favlike/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favlike/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favlike/favicon-16x16.png">
    <link rel="manifest" href="./assets/favlike/site.webmanifest">
    <link rel="mask-icon" href="./assets/favlike/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./assets/favlike/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./assets/favlike/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Ассоциация Флебологов России</title>
    <link rel="stylesheet" href="./assets/css/base.css">
    <script src="./assets/js/core.js" defer></script>
  </head>
</html>
<body class="bg-blue-900">
  <div class="page-content min-h-screen flex flex-col bg-blue-900 text-white">

    {% include '../layout/mobile-menu.twig' %}

    <div class="top-pattern max-h-full pointer-events-none"></div>

    {% include '../layout/header.twig' %}

    <main class="page-main-content z-10 flex flex-col  flex-auto">
      {% include '../includes/breadcrumbs.twig' %}
      
      {% block content %}

      {% endblock %}
    </main>

    {% include '../layout/footer.twig' %}

    {% embed '../includes/modal_side.twig' with {id: 'modal-autorization'} %}
      {% block content %}
        <h2 class="font-serif text-3.5xl font-regular text-blue-900">Авторизация</h2>

        <div class="flex flex-col mt-8">
          <label class="text-blue-900 text-tiny">E-mail:</label>
          <input type="text" class="p-1 text-blue-900 text-lg border border-gray-200 rounded-sm focus:outline-none focus:shadow-outline">
        </div>

        <div class="flex flex-col mt-8">
          <label class="text-blue-900 text-tiny">Пароль:</label>
          <input type="text" class="p-1 text-blue-900 text-lg border border-gray-200 rounded-sm focus:outline-none focus:shadow-outline">
        </div>

        <div class="flex items-center justify-between mt-12">
          <button type="sibmit" class="button px-5 bg-purple-300">Войти в кабинет</button>

          <a href="#" class="text-purple-300 text-tiny underline" data-micromodal-trigger="modal-recovery">Забыли пароль?</a>
        </div>
      {% endblock %}
    {% endembed %}

    {% embed '../includes/modal_side.twig' with {id: 'modal-recovery'} %}
      {% block content %}
        <h2 class="font-serif text-3.5xl font-regular text-blue-900">Восстановление пароля</h2>

        <div class="flex flex-col mt-8">
          <label class="text-blue-900 text-tiny">Логин (E-mail):</label>
          <input type="text" class="p-1 text-blue-900 text-lg border border-gray-200 rounded-sm focus:outline-none focus:shadow-outline">
          {# <small class="text-tiny text-red-500">Ошибка</small> #}
        </div>

        <div class="flex items-center justify-between mt-12">
          <button type="sibmit" class="button px-5 bg-purple-300">Выслать новый пароль</button>
        </div>
      {% endblock %}
    {% endembed %}
  </div>
</body>