<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/favlike/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favlike/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/favlike/favicon-16x16.png">
    <link rel="manifest" href="./assets/favlike/site.webmanifest">
    <link rel="mask-icon" href="./assets/favlike/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="./assets/favlike/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="./assets/favlike/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <title>Ассоциация Флебологов России</title>
    <link rel="stylesheet" href="./assets/css/base.css">
    <script src="./assets/js/core.js" defer></script>
  </head>
</html>
<body class="bg-blue-900">
  <div class="page-content min-h-screen flex flex-col bg-blue-900 text-white">

    {% include '../layout/mobile-menu.twig' %}

    <div class="top-pattern max-h-full pointer-events-none"></div>

    {% include '../layout/header.twig' %}

    <main class="page-main-content z-10 flex flex-col  flex-auto">
      {% include '../includes/breadcrumbs.twig' %}
      
      {% block content %}

      {% endblock %}
    </main>

    {% include '../layout/footer.twig' %}

    <div id="modal-1" aria-hidden="true" class="modal modal_side micromodal-slide">

      <!-- [2] -->
      <div tabindex="-1" data-micromodal-close class="modal__overlay">

        <!-- [3] -->
        <div role="dialog" aria-modal="true" class="relative modal__container">
            <button class="modal__close absolute z-30 top-3 right-3 flex items-center justify-center p-2 rounded-full bg-purple-300 focus:outline-none focus:shadow-outline" aria-label="Close modal" data-micromodal-close>
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="fill-current text-white"
              >
                <path
                  d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                />
              </svg>
            </button>

          <div class="p-10">
            <h2 class="font-serif text-3.5xl font-regular text-blue-900">Восстановление пароля</h2>

            <div class="flex flex-col">
              <label class="text-blue-900 text-tiny">Логин (E-mail):</label>
              <input type="text" class="p-1 text-blue-900 text-lg border border-gray-200 rounded-sm focus:outline-none focus:shadow-outline">
              <small class="text-tiny text-red-500">Ошибка</small>
            </div>

            <button type="sibmit" class="button px-5 bg-purple-300">Выслать новый пароль</button>
          </div>

        </div>
      </div>
    </div>
 
  </div>
</body>