<nav id="mobile-menu" class="mobile-menu">
  <ul>
    <li class="text-red-400">
      <a href="/recommendations.html">Рекомендации АФР online</a>
    </li>
    <li class="text-blue-400">
      <a href="#">Личный кабинет</a>
    </li>
    <li class="text-blue-400">
      <a href="#">Выйти</a>
    </li>
    <li class="text-blue-400">
      <a href="#">Вступить</a>
    </li>
    <li>
      <a href="#">АФР</a>
    </li>
    <li>
      <a href="#">Проекты</a>
    </li>
    <li>
      <a href="#">Журнал «Флебология»</a>
    </li>
    <li>
      <a href="#">Партнеры</a>
    </li>
    <li>
      <a href="#">Конференции</a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-4">
        <span>Флебологу</span>
        {% include '../svg/mindmap-svg.twig' with {classes: 'w-6 h-6 text-blue-300'} %}

      </a>
    </li>


  </ul>
</nav>