<nav id="mobile-menu" class="mobile-menu">
  <ul>
    <li class="text-red-400">
      <a href="/recommendations.html">Рекомендации АФР online</a>
    </li>
    <li class="text-blue-400">
      <a href="#" data-micromodal-trigger="modal-registration">Личный кабинет</a>
    </li>
    <li class="text-blue-400">
      <a href="#">Выйти</a>
    </li>
    <li class="text-blue-400">
      <a href="#" data-micromodal-trigger="modal-autorization">Вступить</a>
    </li>
    <li>
      <a href="#">АФР</a>
      <ul>
        <li><a href="#">Об ассоциации</a></li>
        <li><a href="#">Члены АФР</a></li>
        <li><a href="#">Международное представительство</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">История АФР</a></li>
        <li><a href="#">Основные документы АФР</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Проекты</a>
    </li>
    <li>
      <a href="#">Журнал «Флебология»</a>
    </li>
    <li>
      <a href="#">Партнеры</a>
    </li>
    <li>
      <a href="#">Конференции</a>
    </li>
    <li>
      <a href="#" class="flex items-center space-x-4">
        <span>Флебологу</span>
        {% include '../svg/mindmap-svg.twig' with {classes: 'w-6 h-6 text-blue-300'} %}

      </a>
    </li>


  </ul>
</nav>