{% extends '../layout/default.twig' %}

{% block content %}
  {% include '../includes/content-header.twig' with {title: 'Об ассоциации'} %}

  <div class="container md:mb-12 mb-6">
    <div class="text text-on-page prepend-line md:mt-20 mt-10 md:mb-30 mb-20">
      <p>Ассоциация флебологов России (АФР)  более 20 лет тому назад была создана выдающимся отечественным хирургом академиком РАН В.С. Савельевым. За этот период  флебология, как одно из направлений современной сердечно-сосудистой хирургии, открыла новую эпоху в развитии и изучении патологии венозной системы, включая ее аспекты на клеточном и генетическом уровнях, разработаны эндоваскулярные аспекты реконструктивных операций, созданы высокоэффективные алгоритмы диагностики  и профилактики тромбоэмболических осложнений. </p>

      <img data-src="./assets/images/history-img.png" alt="">

      <p>Ассоциация флебологов России (АФР)  более 20 лет тому назад была создана выдающимся отечественным хирургом академиком РАН В.С. Савельевым. За этот период  флебология, как одно из направлений современной сердечно-сосудистой хирургии, открыла новую эпоху в развитии и изучении патологии венозной системы, включая ее аспекты на клеточном и генетическом уровнях, разработаны эндоваскулярные аспекты реконструктивных операций, созданы высокоэффективные алгоритмы диагностики  и профилактики тромбоэмболических осложнений. </p>

    </div>

    <h2 class="font-serif lg:text-4-5xl md:text-3-5xl text-3xl">Структура ассоциации</h2>
  </div>

  <div class="lg:mb-40 md:mb-20 sm:mb-16 mb-6">
    <div class="relative flex py-8">
      <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 w-full h-full text-blue-800 z-0" >
        <defs>
          <pattern id="pattern_0gLSGx" patternUnits="userSpaceOnUse" width="4" height="4" patternTransform="rotate(45)">
            <line x1="0" y="0" x2="0" y2="4" stroke="currentColor" stroke-width="4" />
          </pattern>
        </defs>
        <rect width="100%" height="100%" fill="url(#pattern_0gLSGx)" :opacity="1" />
      </svg>


      <div class="container relative z-10 flex flex-wrap items-center lg:pl-36 pl-3">
        <span class="absolute vertical-text top-0 left-0 lg:pl-0 pl-2 text-blue-300 ">Президент</span>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-1.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Сучков Игорь Александрович </p>
            <p class="text-tiny">Президент АФР</p>
          </div>
        </div>
      </div>
    </div>

    <div class="relative flex py-8">
      <div class="container relative z-10 flex flex-wrap items-center lg:pl-36 pl-3">
        <span class="absolute vertical-text top-0 left-0 lg:pl-0 pl-2 text-blue-300 ">Почетные президенты</span>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-2.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Кириенко Александр Иванович </p>
            <p class="text-tiny">Почетный президент АФР</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-3.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Стойко Юрий Михайлович </p>
            <p class="text-tiny">Почетный президент АФР</p>
          </div>
        </div>
      </div>
    </div>

    <div class="relative flex py-8">
      <svg xmlns="http://www.w3.org/2000/svg" class="absolute inset-0 w-full h-full text-blue-800 z-0" >
        <defs>
          <pattern id="pattern_0gLSGx" patternUnits="userSpaceOnUse" width="4" height="4" patternTransform="rotate(45)">
            <line x1="0" y="0" x2="0" y2="4" stroke="currentColor" stroke-width="4" />
          </pattern>
        </defs>
        <rect width="100%" height="100%" fill="url(#pattern_0gLSGx)" :opacity="1" />
      </svg>

      <div class="container relative z-10 flex flex-wrap items-center lg:pl-36 pl-3">
        <span class="absolute vertical-text top-0 left-0 lg:pl-0 pl-2 text-blue-300 ">Почетные президенты</span>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-4.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Гужков Олег Николаевич </p>
            <p class="text-tiny">Вице-президент</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-5.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Илюхин Евгений Аркадьевич </p>
            <p class="text-tiny">Вице-президент</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-6.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Кудыкин Максим Николаевич</p>
            <p class="text-tiny">Вице-президент</p>
          </div>
        </div>
      </div>
    </div>

    <div class="relative flex py-8">
      <div class="container relative z-10 flex flex-wrap items-center lg:pl-36 pl-3">
        <span class="absolute vertical-text top-0 left-0 lg:pl-0 pl-2 text-blue-300 ">Совет АФР </span>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-7.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Алуханян Овик Арменович</p>
            <p class="text-tiny">Член Совета АФР</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-8.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Андрияшкин Вячеслав Валентинович</p>
            <p class="text-tiny">Член Совета АФР</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-9.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Гужков Олег Николаевич </p>
            <p class="text-tiny">Член Совета АФР</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-10.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Золотухин Игорь Анатольевич </p>
            <p class="text-tiny">Член Совета АФР</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-11.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Золотухин Игорь Анатольевич </p>
            <p class="text-tiny">Член Совета АФР</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-12.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Илюхин Евгений Аркадьевич</p>
            <p class="text-tiny">Член Совета АФР</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-13.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Калинин Роман Евгеньевич</p>
            <p class="text-tiny">Член Совета АФР</p>
          </div>
        </div>

        <div class="md:w-1/2 my-4 flex items-center md:space-x-10 space-x-4">
          <img data-src="./assets/images/about-img-14.png" alt="" class="lazy md:h-36 md:w-36 h-30 w-30 rounded-full">
          <div class="md:w-1/2">
            <p class="mb-1 font-serif text-xl leading-tight">Карпенко Андрей Анатольевич</p>
            <p class="text-tiny">Член Совета АФР</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
