{% extends '../layout/default.twig' %}

{% block content %}
  {% include '../includes/content-header.twig' with {title: 'История ассоциации'} %}

  <div class="container">
    <div class="text text-on-page prepend-line md:mt-20 mt-10 md:mb-30 mb-20">
      <p>Ассоциация флебологов России (АФР)  более 20 лет тому назад была создана выдающимся отечественным хирургом академиком РАН В.С. Савельевым. За этот период  флебология, как одно из направлений современной сердечно-сосудистой хирургии, открыла новую эпоху в развитии и изучении патологии венозной системы, включая ее аспекты на клеточном и генетическом уровнях, разработаны эндоваскулярные аспекты реконструктивных операций, созданы высокоэффективные алгоритмы диагностики  и профилактики тромбоэмболических осложнений. </p>

      <img data-src="./assets/images/history-img.png" alt="">

      <p>При описании флебологического статуса пациента можно использовать базовый или расширенный варианты классификации. Для лечебных учреждений и врачей, специализирующихся на лечении ХЗВ, предпочтителен расширенный вариант.</p>

      <h2>Краткая информация. H2</h2>

      <p>Базовым является вариант, в котором указывают клинический класс по максимально выраженному клиническому признаку, а в патофизиологическом разделе отмечают только сам факт наличия рефлюкса, окклюзии или их отсутствие.
      <br><br>
      В расширенном варианте используется обозначение клинического класса с перечислением всех имеющихся объективных проявлений и указанием тех сегментов венозной системы, в которых были обнаружены патологические изменения (рефлюкс или окклюзия) [10]. </p>

      <h3>Классификация. H3</h3>

      <p>Базовым является вариант, в котором указывают клинический класс по максимально выраженному клиническому признаку, а в патофизиологическом разделе отмечают только сам факт наличия рефлюкса, окклюзии или их отсутствие.
      <br><br>
      В расширенном варианте используется обозначение клинического класса с перечислением всех имеющихся объективных проявлений и указанием тех сегментов венозной системы, в которых были обнаружены патологические изменения (рефлюкс или окклюзия) [Рис.4]. </p>

      <h4>Базовый и расширенный варианты классификации. H4</h4>

      <ol>
        <li>Базовый и расширенный варианты классификации. H4</li>
        <li>Большая подкожная вена бедра;</li>
        <li>Большая подкожная вена голени;</li>
        <li>Малая подкожная вена;</li>
      </ol>

      <h5>Глубокие вены. H5</h5>

      <ul>
        <li>Нижняя полая вена;</li>
        <li>Общая подвздошная вена;</li>
        <li>Внутренняя подвздошная вена;</li>
        <li>Наружная подвздошная вена;</li>
      </ul>

      <h6> </h6>

      <p>Пациентка обратилась к флебологу 03.09.2016. Предъявляет жалобы на наличие варикозно измененных вен на левой нижней конечности, отеки дистальных отделов голени, боли и тяжесть в икроножных мышцах во второй половине дня.
      <br><br>
      Выполнено ультразвуковое ангиосканирование: глубокие вены – без патологии, клапанная недостаточность большой подкожной вены на бедре, несостоятельность перфорантной вены в средней трети бедра.</p>
    </div>
  </div>
{% endblock %}
