{% extends '../layout/default.twig' %}

{% block content %}
  {% include '../includes/content-header.twig' with {title: 'Международное представительство '} %}

  <div class="container">
    <div class="text text-on-page prepend-line md:mt-20 mt-10 md:mb-16 mb-10">
      <p>Ассоциация Флебологов России является членом International Union of Phlebology и European College of Phlebology, а также имеет представителей в European Venous Forum, American Venous Forum и в Venous-lymphatics World International Network foundation (vWIN) </p>
    </div>
  </div>

  <div class="relative lg:py-20 md:py-10 py-8">
    {% include '../includes/pattern.twig' %}

    <div class="container">
      <div class="grid md:gap-5 gap-7 md:grid-cols-2 grid-cols-1">
        {% for item in items %}
          <a href="#" class="item relative lg:h-40 bg-blue-900 shadow-lg duration-300 hover:shadow-2xl group" data-micromodal-trigger="projectsDetail">
            <img data-src="./assets/images/item-bg-{{item.bg}}.png" class=" dimmed-img-50 ml-auto lg:h-full h-52 w-full object-cover opacity-25" alt="">

            <div class="absolute content inset-0 left-0 lg:py-6 lg:px-5 px-4 py-4 flex">
              <div class="md:w-32 w-26 h-auto my-auto">
                <img data-src="./assets/images/international-img-{{loop.index}}.png" class="" alt="">
              </div>

              <div class="flex flex-col w-5/6 md:ml-10 ml-4 md:my-0 my-auto py-1">
                <p class="lg:text-xl sm:text-2xl text-xl leading-tight font-serif font-light">{{item.title}}</p>
                <div class="mt-auto py-3 max-w-fit flex items-center justify-between space-x-3 text-tiny">
                  <span>Перейти</span>
                  {% include '../svg/arrow-right-svg.twig' with {classes: 'text-purple-300 transform ease-in-out duration-300 group-hover:translate-x-3'} %}
                </div>
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}
