{% extends '../layout/default.twig' %}

{% block scripts %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=8e7ca4bf-0e6c-4f83-a757-531abebea7b5&lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block content %}
  {% embed '../includes/content-header.twig' with {title: 'Поиск врачей по городу', classes: 'mb-5'} %}

    {% block afterHeader %}
      <ul class="flex items-center justify-start space-x-2" data-tabs>
        <li>
          <a href="#list" class="button py-3 bg-purple-300 text-white space-x-3" data-tabby-default data-title="Поиск врачей по городу">
            {% include '../svg/list-icon-svg.twig' with {classes: 'text-white'} %}
            <span class="whitespace-no-wrap">Список городов</span>
          </a>
        </li>
        <li>
          <a href="#map" id="init-map"  class="button py-2 bg-purple-300 text-white space-x-3 opacity-25" data-title="Поиск врачей по карте">
            {% include '../svg/geo-icon-svg.twig' with {classes: 'text-white'} %}
            <span>Карта</span>
          </a>
        </li>
      </ul>
    {% endblock %}

  {% endembed %}

  <div id="list" class="container">
    <div class="lg:mb-16 md:mb-10 mb-6">
      <div class="mb-5">
        <form class="relative w-full mr-4 text-gray-500">
          <input class="w-full py-1 px-5 bg-transparent border border-solid border-blue-700 rounded-full text-md  placeholder-gray-500 focus:outline-none focus:shadow-outline" type="text" value="Название города">

          <button type="submit" class="absolute inset-y-0 right-0 flex items-center justify-between px-5 focus:outline-none focus:shadow-outline rounded-full">
          {% include '../svg/icon-search-svg.twig' with {classes: 'text-purple-300 stroke-current'} %}

          </button>
        </form>
      </div>
    </div>

    <div class="lg:mt-24 md:mt-16 sm:mt-12 mt-8 lg:mb-16 mb-10 px-5">
      <div class="md:mt-16 mt-10 flex md:flex-row flex-col items-start justify-start">
        <h5 class="md:w-1/6 md:mb-0 mb-6 md:-mt-2">А</h5>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Алма-Ата (1)</li>
        </ul>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Архангельск (1)</li>
        </ul>
      </div>

      <div class="md:mt-16 mt-10 flex md:flex-row flex-col items-start justify-start">
        <h5 class="md:w-1/6 md:mb-0 mb-6 md:-mt-2">Б</h5>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Бар (3)</li>
          <li>Бирск (3)</li>
          <li>Брянск (1)</li>
        </ul>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Барнаул (2)</li>
          <li>Бишкек (1)</li>
        </ul>
        <ul class="md:w-1/6 md:mb-0 mb-6">
          <li>Белгород (1)</li>
          <li>Братск (1)</li>
        </ul>
      </div>

      <div class="md:mt-16 mt-10 flex md:flex-row flex-col items-start justify-start">
        <h5 class="md:w-1/6 md:mb-0 mb-6 md:-mt-2">В</h5>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Великие Луки (1)</li>
          <li>Волгоград (4) </li>
          <li>Воронеж (1)</li>
        </ul>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Витебск (1) </li>
          <li>Вологда (1)</li>
        </ul>
        <ul class="md:w-1/6 md:mb-0 mb-6">
          <li>Владивосток (2) </li>
          <li>Волхов (1) </li>
        </ul>
      </div>

      <div class="md:mt-16 mt-10 flex md:flex-row flex-col items-start justify-start">
        <h5 class="md:w-1/6 md:mb-0 mb-6 md:-mt-2">Г</h5>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Гатчина (1)</li>
        </ul>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Геленджик (1)</li>
        </ul>
      </div>

      <div class="md:mt-16 mt-10 flex md:flex-row flex-col items-start justify-start">
        <h5 class="md:w-1/6 md:mb-0 mb-6 md:-mt-2">Д</h5>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Десногорск (1)</li>
        </ul>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Дмитров (1)</li>
        </ul>
        <ul class="md:w-1/6 md:mb-0 mb-6">
          <li>Дрезна (3)</li>
        </ul>
      </div>

      <div class="md:mt-16 mt-10 flex md:flex-row flex-col items-start justify-start">
        <h5 class="md:w-1/6 md:mb-0 mb-6 md:-mt-2">И</h5>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Иваново (1)</li>
        </ul>
        <ul class="md:w-2/6 md:mb-0 mb-6">
          <li>Ижевск (1)</li>
        </ul>
        <ul class="md:w-1/6 md:mb-0 mb-6">
          <li>Иркутск (1)</li>
        </ul>
      </div>

    </div>
  </div>

  <div id="map" class="w-full my-auto" style="height: 790px;">
    <a href="#" data-micromodal-trigger="modal-city">Открыть</a>
  </div>
{% endblock %}

{% block afterFooter %}
  {% embed '../includes/modal-side.twig' with {id: 'modal-city', classes: 'h-full'} %}
    {% block content %}
      <div class="flex flex-col flex-1 h-full">
        <h5 class="append-line font-serif md:text-6xl text-2xl leading-tight text-blue-900">Санкт-Петербург</h5>

        <div class="flex flex-col mt-2">
          {% for member in members %}
            <div class="mb-8 flex item-center md:space-x-8 space-x-4">
              <img data-src="./assets/images/member-city-img-{{loop.index}}.png" alt="" class="lazy h-16 w-16">
              <div class="flex flex-col justify-center text-gray-900">
                <p class="mb-2 font-serif leading-none md:text-1-5xl text-lg">{{member.name}}</p>
                <p class="text-base leading-tight">{{member.position}}</p>
              </div>
            </div>
          {% endfor %}
        </div>

        <a href="#" class="button mt-auto mb-3 px-3 bg-purple-300 space-x-4 group" data-micromodal-close>
          <span class="pointer-events-none">Вернуться к рекомендациям</span>
          {% include '../svg/arrow-right-svg.twig' with {classes: 'text-white ease-in-out  duration-300 transform pointer-events-none group-hover:translate-x-1'} %}
        </a>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}