{% extends '../layout/default.twig' %}

{% block scripts %}
  <script src="./assets/js/lightbox.min.js" defer></script>
{% endblock %}

{% block content %}
<div class="container z-10 flex lg:flex-row flex-col lg:items-end items-center justify-between py-10">
  <img data-src="./assets/images/members_detail-img.png" alt="" class="md:ml-0 md:mr-32 mx-auto lg:mb-0 mb-10 rounded-full">

  <div>
    <h2 class="mb-6">Евгений Аркадьевич Илюхин</h2>

    <div class="mb-3 flex items-center space-x-1">
      <a href="#" class="flex items-center justify-center w-8 h-8 rounded-full bg-purple-300">
        {% include '../svg/fb-icon-svg.twig' with {classes: 'text-blue-900'} %}
      </a>

      <a href="#" class="flex items-center justify-center w-8 h-8 rounded-full bg-purple-300">
        {% include '../svg/vk-icon-svg.twig' with {classes: 'text-blue-900'} %}
      </a>

      <a href="#" class="flex items-center justify-center w-8 h-8 rounded-full bg-purple-300">
        {% include '../svg/ok-icon-svg.twig' with {classes: 'text-blue-900'} %}
      </a>

      <a href="#" class="flex items-center justify-center w-8 h-8 rounded-full bg-purple-300">
        {% include '../svg/tw-icon-svg.twig' with {classes: 'text-blue-900'} %}
      </a>

      <a href="#" class="flex items-center justify-center w-8 h-8 rounded-full bg-purple-300">
        {% include '../svg/ig-icon-svg.twig' with {classes: 'text-blue-900 ml-1'} %}
      </a>
    </div>

    <div class="flex flex-wrap items-center mt-16 mb-2 space-x-2">
      <ul class="flex flex-wrap items-center justify-start space-x-2" data-tabs>
        <li class="mb-3">
          <a href="#info" class="button py-3 bg-purple-300 text-white space-x-4" data-tabby-default>
            {% include '../svg/list-icon-svg.twig' with {classes: 'text-white'} %}
            <span class="mr-2 whitespace-no-wrap">Информация</span>
          </a>
        </li>
        <li class="mb-3">
          <a href="#publications" id="init-map"  class="button py-2 bg-purple-300 text-white space-x-4 opacity-25">
            {% include '../svg/book-svg.twig' with {classes: 'text-white'} %}
            <span class="mr-2 whitespace-no-wrap">Публикации</span>
          </a>
        </li>
      </ul>

      <a href="#" class="button mb-3 py-1 px-2 bg-transparent border-sm border-purple-300 text-purple-300 space-x-3">
        {% include '../svg/user-icon-svg.twig' with {classes: 'text-purple-300 mr-3'} %}
        <span class="mr-6">Личная страница</span>
        {% include '../svg/arrow-right-svg.twig' with {classes: 'text-purple-300'} %}
      </a>
    </div>

  </div>
</div>


<div class="striped-bg mt-3 py-12 bg-blue-600">
  <div id="info">
    <table class="w-full sm:text-md text-tiny font-light transform lg:-translate-x-36">
      <thead>
        <tr>
          <th class="md:w-1/2 w-1/3 md:pr-16 px-3 py-3 md:text-right text-left sm:text-md text-tiny font-light">Город:</th>
          <th class="md:w-1/2 w-2/3 md:pl-16 px-3 py-3 text-left sm:text-md text-tiny font-light underline"><a href="#">Санкт-Петербург</a></th>
        </tr>
      </thead>

      <tbody>
        {% for row in rows %}
          <tr class="border-t border-white border-opacity-10">
            <td class="md:w-1/2 w-1/3 md:pr-16 px-3 py-3 md:text-right align-top">{{row.left}}</td>
            <td class="md:w-1/2 w-2/3 md:pl-16 px-3 py-3 md:text-left align-top">{{row.right}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  
  <div id="publications">
    <div class="container flex lg:justify-end justify-center pt-4">
      <ol class="decimal font-18 lg:w-2/3 text-white transform lg:translate-x-16">
        <li class="md:mb-20 mb-12">
          <h6 class="mb-3 font-serif text-xl leading-tight">Субфасциальная диссекция перфорантных вен голени в лечении варикозной болезни</h6>
          <p class="mb-2 text-base">Жирновой В.М., Прохоров Г.Г., Илюхин Е.А., Шпилькина Н.А., Абесадзе Е.Ю. </p>
          <p class="mb-10 text-tiny opacity-50">Сборник трудов международного хирургического конгресса «Новые технологии в хирургии», 2005 </p>

          <div class="flex flex-wrap items-center space-x-3">
            <button class="mb-2 px-2 bg-blue-300 text-tiny font-medium text-gray-900 rounded-lg" data-copy-btn>
              <span data-copy-text>DOI 10.20861/2304-2338-2016-43-34-47</span> |  Скопировать</button>
            <a href="#" class="mb-2 px-2 bg-blue-300 text-tiny font-medium text-gray-900 rounded-lg">Скачать</a>
          </div>
        </li>
        
        <li class="md:mb-20 mb-12">
          <h6 class="mb-3 font-serif text-xl leading-tight">Эндоскопическая субфасциальная диссекция перфорантных вен голени в лечении варикозной болезни</h6>
          <p class="mb-2 text-base">Жирновой В.М., Прохоров Г.Г., Илюхин Е.А., Шпилькина Н.А., Абесадзе Е.Ю. </p>
          <p class="mb-10 text-tiny opacity-50">Материалы 2 Международной конференции «Проблемы современной ангиологии 2005» , 2005</p>

          <div class="flex flex-wrap items-center space-x-3">
            <a href="#" class="mb-2 px-2 bg-blue-300 text-tiny font-medium text-gray-900 rounded-lg">Скачать</a>
          </div>
        </li>

        <li class="md:mb-20 mb-12">
          <h6 class="mb-3 font-serif text-xl leading-tight">Опыт применения эндовазальной лазерной коагуляции в амбулаторных условиях</h6>
          <p class="mb-2 text-base">Прохоров Г.Г., Жирновой В.М., Илюхин Е.А. </p>
          <p class="mb-10 text-tiny opacity-50">Стационарозамещающие технологии. Амбулаторная хирургия, №4 (28), 2007</p>
        </li>
      </ol>
    </div>
  </div>
</div>

{% endblock %}
