{% extends '../layout/default.twig' %}

{% block content %}
  {% include '../includes/content-header.twig' with {title: 'Новости'} %}

  <div class="container md:mt-12 lg:mb-26 md:mb-20 sm:mb-16 mb-12 my-6 pr-5 grid lg:row-gap-26 row-gap-12 col-gap-12 lg:grid-cols-3 md:grid-cols-2">
    {% for item in items %}
      <a href="#" class="item">
        <img data-src="./assets/images/news-img-{{item.img}}.png" class="lazy shifted-shadow h-56 w-full object-cover" alt="">

        <div class="content mt-10 flex flex-col">
          <p class="text-blue-300 text-xxs">{{item.date}}</p>
          <h5 class="md:w-5/6 mt-2 text-xl leading-tight font-serif font-light">{{item.title}}</h5>
        </div>
      </a>
    {% endfor %}
  </div>

  {% include '../includes/paginaton.twig' %}
{% endblock %}