{% extends '../layout/default.twig' %}

{% block content %}
  {% include '../includes/content-header-with-scheme-btn.twig' with {title: 'УЗИ-планшеты'} %}

  <div class="container md:mt-8 lg:mb-30 md:mb-20 sm:mb-16 mb-12 my-6 pr-8 grid xl:row-gap-24 md:row-gap-20 row-gap-16 col-gap-12 xl:grid-cols-4 lg:grid-cols-3 sm:grid-cols-2 grid-cols-1">
    {% for item in items %}
      <a href="#" class="item group">
        <div class="bg-white shifted-shadow">
          <img data-src="./assets/images/phlebologistCatalog_category-img-{{item.img}}.png" class="lazy h-64 w-full object-contain" alt="">
        </div>

        <div class="content mt-6 flex flex-col">
          <h5 class="md:w-5/6 text-xl leading-tight font-serif font-light ease-in-out duration-300 group-hover:text-purple-300">{{item.title}}</h5>
        </div>
      </a>
    {% endfor %}
  </div>

  {% include '../includes/paginaton.twig' %}
{% endblock %}
