{% extends '../layout/default.twig' %}

{% block content %}
  {% include '../includes/content-header-with-scheme-btn.twig' with {title: 'Флебологу'} %}

  <div class="container">
    <div class="xl:mb-26 lg:mb-20 md:mb-16 mb-12 mt-2 grid gap-8 lg:grid-cols-3 md:grid-cols-2 grid-cols-1">
      {% for item in items %}
        <a href="#" class="item relative h-40 bg-blue-900 shadow-lg ease-in-out duration-300 hover:shadow-2xl group">
          <img data-src="./assets/images/item-bg-{{item.bg}}.png" class="lazy dimmed-img ml-auto max-h-full w-full object-cover opacity-25" alt="">
          

          <div class="absolute content inset-0 left-0 lg:pt-8 pt-4 lg:pl-10 px-4 lg:pb-5 pb-3 flex flex-col">
            <h6 class="lg:w-5/6 text-xl leading-tight font-serif font-light">{{item.title}}</h6>
            <div class="mt-auto py-3 max-w-fit flex items-center justify-between space-x-3 text-tiny">
              <span>Посмотреть</span>
              {% include '../svg/arrow-right-svg.twig' with {classes: "text-purple-300 ease-in-out duration-300 transform group-hover:translate-x-3"} %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}

{% block afterFooter %}
<div id="modal-phlebologistCatalog" aria-hidden="true" class="modal modal_almost-full-screen micromodal-appear">
  <div tabindex="-1" data-micromodal-close class="modal__overlay">
    <div role="dialog" aria-modal="true" class="relative modal__container">
        <button class="modal__close absolute z-30 md:top-2 md:right-2 top-1 right-1 flex items-center justify-center p-2 rounded-full bg-purple-300 focus:outline-none focus:shadow-outline" aria-label="Close modal" data-micromodal-close>
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="fill-current text-white pointer-events-none"
          >
            <path
              d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
            />
          </svg>
        </button>

      <div class="modal-inner-content pt-6">
        <h5 class="mb-6 ml-10 text-gray-900 font-serif lg:text-3-5xl md:text-3xl text-2xl leading-tight">Схема каталога</h5>
        <img data-src="./assets/images/map.png" alt="" class="lazy w-full object-contain">
      </div>

    </div>
  </div>
</div>
{% endblock %}