{% extends '../layout/default.twig' %}

{% block content %}
  <div class="container">
    <div class="content-header flex flex-wrap items-center justify-between space-x-6">
      <h1 class="mb-4 font-serif xl:text-6xl lg:text-5xl sm:text-4xl text-3xl leading-none">Рекомендации АФР online</h1>

      <a href="#" class="mb-4 button bg-purple-300 hover:bg-purple-200 sm:py-3 flex items-center justify-between space-x-5 lg:text-base text-tiny group" data-micromodal-trigger="modal-recommendations-search">
        <span>Поиск по разделу</span>
        {% include '../svg/arrow-right-svg.twig' with {classes: "text-white ease-in-out  duration-300 transform group-hover:translate-x-1"} %}
      </a>
    </div>

    <div class="mt-6 md:mb-12 mb-6 grid gap-5 md:grid-cols-2 grid-cols-1">
      {% for item in items %}
        <a href="#" class="item relative h-64 bg-blue-900 shadow-lg ease-in-out  duration-300 hover:shadow-2xl group" data-micromodal-trigger="modal-recommendations-detail">
          <img data-src="./assets/images/item-bg-{{item.bg}}.png" class="lazy dimmed-img ml-auto max-h-full w-full object-cover opacity-25" alt="">

          <div class="absolute content inset-0 left-0 lg:pt-12 pt-4 lg:px-12 px-4 pb-5 flex flex-col">
            <h5 class="md:w-1/2 lg:text-3xl sm:text-2xl text-xl leading-tight font-serif font-light">{{item.title}}</h5>
            <div class="mt-auto py-3 max-w-fit flex items-center justify-between space-x-3 text-tiny group">
              <span>Подробнее</span>
              {% include '../svg/arrow-right-svg.twig' with {classes: "text-purple-300 ease-in-out  duration-300 transform group-hover:translate-x-3"} %}
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block afterFooter %}
  {% embed '../includes/modal-side_big.twig' with {id: 'modal-recommendations-search', classes: 'modal-side_bigger'} %}
    {% block content %}
      <div class="h-full flex flex-col">
        <h2 class="mb-12 font-serif lg:text-6xl md:text-5xl sm:text-3-5xl text-3xl leading-none text-gray-900">Поиск по разделу</h2>

        <form class="relative w-full mb-10 text-gray-900">
          <input class="w-full py-1 px-5 bg-blue-100 border border-solid border-purple-300 border-opacity-10 rounded-full text-md placeholder-gray-500 focus:outline-none focus:shadow-outline" type="text" value="Процесс">

          <button type="submit" class="absolute inset-y-0 right-0 flex items-center justify-between px-5 focus:outline-none focus:shadow-outline rounded-full">
            {% include '../svg/icon-search-svg.twig' with {classes: 'text-purple-300 stroke-current'} %}
          </button>

          <span class="absolute sm:top-50 top-3 right-0 sm:mr-12 mr-1 sm:mb-0 text-purple-300 text-opacity-50">Найдено <span class="font-bold">22</span> совпадения</span>
        </form>

        {% for accordionItem in accordionItems %}
          <div class="mb-8">
            <div class="accordion-title flex items-center">
              <button class="accordion__button h-10 w-10 md:mr-6 mr-3 flex items-center justify-center rounded-full bg-gray-100 text-gray-900 focus:outline-none focus:shadow-outline">
                {% include '../svg/accordion-svg.twig' %}

              </button>

              <h6 class="w-5/6 font-serif leading-none md:text-2xl text-xl text-gray-900">{{accordionItem.title}}</h6>
            </div>


            <ol class="accordion-content decimal mt-10 md:pl-5 pl-2 text-gray-900 text-md leading-tight">
              <li class="mb-8">
                <span class="block mb-2">Тромботический и сопутствующий воспалительный <span class="px-1 bg-purple-300 bg-opacity-10 text-purple-300">процесс</span> может поражать не только варикозно измененные, но и не варикозные вены.</span>
              </li>
              <li class="mb-8">
                <span class="block mb-2">Тромботический <span class="px-1 bg-purple-300 bg-opacity-10 text-purple-300">процесс</span> в поверхностных венах может сопровождаться поражением глубоких вен (тромбоз глубоких вен, ТГВ). </span>
              </li>
              <li class="mb-8">
                <span class="block mb-2">Считается, что чем ближе проксимальный уровень тромба в поверхностной вене к соустью, тем выше риск перехода <span class="px-1 bg-purple-300 bg-opacity-10 text-purple-300">процесс</span> в глубокие вены...</span>
              </li>
              <li class="mb-8">
                <a href="#" class="block mb-2 text-purple-300 hover:underline">...выраженность его и склонность к прогрессированию процесса в проксимальном направлении, в сравнении с поражением вен нижних конечностей, существенно ниже</a>
              </li>
            </ol>
          </div>
        {% endfor %}

        <a href="#" class="button mt-auto mb-3 px-3 bg-purple-300 space-x-4 group" data-micromodal-close>
          <span class="pointer-events-none">Вернуться к рекомендациям</span>
          {% include '../svg/arrow-right-svg.twig' with {classes: 'text-white ease-in-out  duration-300 transform pointer-events-none group-hover:translate-x-1'} %}
        </a>
      </div>
    {% endblock %}
  {% endembed %}

  {% embed '../includes/modal-side_big.twig' with {id: 'modal-recommendations-detail', classes: 'modal-side_bigger'} %}
    {% block content %}
    <div class="h-full flex ">
      <div class="w-5/6 text text-gray-900">
        <h2 class="append-line">Варикозное расширение вен нижних конечностей. </h2>

        <p>При описании флебологического статуса пациента можно использовать базовый или расширенный варианты классификации. Для лечебных учреждений и врачей, специализирующихся на лечении ХЗВ, предпочтителен расширенный вариант.</p>

        <h2>Краткая информация. H2</h2>

        <p>Базовым является вариант, в котором указывают клинический класс по максимально выраженному клиническому признаку, а в патофизиологическом разделе отмечают только сам факт наличия рефлюкса, окклюзии или их отсутствие.
        <br><br>
        В расширенном варианте используется обозначение клинического класса с перечислением всех имеющихся объективных проявлений и указанием тех сегментов венозной системы, в которых были обнаружены патологические изменения (рефлюкс или окклюзия) [10]. </p>
        
        <h3>Классификация. H3</h3>

        <p>Базовым является вариант, в котором указывают клинический класс по максимально выраженному клиническому признаку, а в патофизиологическом разделе отмечают только сам факт наличия рефлюкса, окклюзии или их отсутствие.
        <br><br>
        В расширенном варианте используется обозначение клинического класса с перечислением всех имеющихся объективных проявлений и указанием тех сегментов венозной системы, в которых были обнаружены патологические изменения (рефлюкс или окклюзия) [Рис.4]. </p>

        <h4>Базовый и расширенный варианты классификации. H4</h4>

        <ol>
          <li>Телеангиэктазии и/или ретикулярные вены;</li>
          <li>Большая подкожная вена бедра;</li>
          <li>Большая подкожная вена голени;</li>
          <li>Малая подкожная вена;</li>
        </ol>

        <h5>Глубокие вены. H5</h5>

        <ul>
          <li>Нижняя полая вена;</li>
          <li>Общая подвздошная вена;</li>
          <li>Внутренняя подвздошная вена;</li>
          <li>Наружная подвздошная вена;</li>
        </ul>

        <h6>Пример формулировки диагноза согласно классификации CEAP. H6</h6>

        <p>Пациентка обратилась к флебологу 03.09.2016. Предъявляет жалобы на наличие варикозно измененных вен на левой нижней конечности, отеки дистальных отделов голени, боли и тяжесть в икроножных мышцах во второй половине дня.
        <br><br>
        Выполнено ультразвуковое ангиосканирование: глубокие вены – без патологии, клапанная недостаточность большой подкожной вены на бедре, несостоятельность перфорантной вены в средней трети бедра.</p>

        <a href="#" class="button mb-3 px-3 bg-purple-300 text-white space-x-4 group" data-micromodal-close>
          <span class="pointer-events-none">Вернуться к рекомендациям</span>
          {% include '../svg/arrow-right-svg.twig' with {classes: 'text-white ease-in-out  duration-300 transform pointer-events-none group-hover:translate-x-1'} %}
        </a>
      </div>

      <hr class="hr-vertical mx-10 border-r border-dashed border-purple-300 border-opacity-20">

      <div class="w-1/6 text-gray-900">
        <p class="mb-3 text-md text-purple-300 font-bold">Содержание</p>

        <ul class="hierarchy-menu text-base">
          <li>
            <a href="#">Рекомендации</a>
          </li>
          <li>
            <a href="#">Краткая информация</a>
            
            <ul>
              <li>
                <a href="#">Определение</a>
              </li>
              <li>
                <a href="#">Этиология и патогенез</a>
              </li>
              <li>
                <a href="#">Эпидемиология</a>
              </li>
              <li>
                <a href="#">Определение</a>
              </li>
              <li>
                <a href="#">Кодирование по МКБ 10</a>
              </li>
              <li>
                <a href="#">Классификация</a>

                <ul>
                  <li>
                    <a href="#">Описание классификации CEAP</a>
                  </li>
                  <li>
                    <a href="#">Базовый и расширенный варианты классификации</a>
                  </li>
                  <li>
                    <a href="#">Уровень диагностических действий</a>
                  </li>
                  <li>
                    <a href="#">Пример формулировки диагноза согласно классификации CEAP</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    {% endblock %}
  {% endembed %}
{% endblock %}