@import '../../node_modules/normalize.css/normalize.css';

@import '../../node_modules/mmenu-js/dist/mmenu.css';

@import '../../node_modules/mburger-css/dist/mburger.css';

@import './base/_base.css';

@import './utils/_utils.css';

@import './big-layout-elements/_big-layout-elements.css';

@import './blocks_unique/_blocks_unique.css';

@import './plugins/_plugins.css';

@tailwind base;

@tailwind components;

.button {
  @apply py-2 px-5 rounded-full text-tiny leading-none text-center ease-in-out duration-300;
}

.button.disabled {
  @apply opacity-25 pointer-events-none;
}

.button_blue-300 {
  @apply bg-blue-300 text-blue-900 font-medium;
}

.button_blue-300:hover {
  @apply bg-blue-400;
}

.button:focus {
  @apply outline-none shadow-outline;
}

@tailwind utilities;
