.mburger {
  margin-right: -10px;
}

@media (min-width: 1280px) {
  .search-field {
    max-width: 372px !important;
    min-width: 372px !important;
    
    &__input {
      max-width: 372px !important;
      min-width: 372px !important;

    }
  }
}
