<div class="container md:mt-8 mt-2 mb-4">
  <ul
    class="flex flex-wrap items-center pl-2 space-x-3"
    itemscope=""
    itemtype="http://schema.org/BreadcrumbList"
  >
    <li
      itemprop="itemListElement"
      itemscope=""
      itemtype="http://schema.org/ListItem"
      class="my-2"
    >
      <a itemprop="item" href="/">
        <svg xmlns="http://www.w3.org/2000/svg" class="house-svg stroke-2 stroke-current text-purple-300 hover:text-white" viewBox="0 0 12 12">
          <path d="M1 5l5-4 5 4"/>
          <path d="M2 4v7h8V4"/>
          <path d="M6 8v3M9 1v2"/>
        </svg>
      </a>
      <meta itemprop="position" content="1" />
    </li>

    {% include '../svg/accord-svg.twig' with {classes: "text-purple-300"} %}

    {% for breadcrumb in breadcrumbs %}
      <li
        class="my-2 text-tiny leading-none font-light"
        itemprop="itemListElement"
        itemscope=""
        itemtype="http://schema.org/ListItem"
      >
        {% if loop.index != loop.length %}
          <a href="#" itemprop="item" class="text-gray-500 hover:text-purple-300">{{breadcrumb.title}}</a>
          <meta itemprop="position" content="{{loop.index + 1}}" />
      </li>

        {% include '../svg/accord-svg.twig' with {classes: "text-white"} %}
      
        {% else %}
          <span itemprop="name">{{breadcrumb.title}}</span>
          <meta itemprop="position" content="{{loop.index + 1}}" />
      </li>
        {% endif %}
    {% endfor %}
  </ul>
</div>