<div class="container content-header flex flex-wrap items-center justify-between space-x-6">
  <h1 class="mb-4 font-serif xl:text-6xl lg:text-5xl sm:text-4xl text-3xl leading-none">{{title}}</h1>
</div>