<div class="container content-header mb-2 flex sm:flex-row flex-col flex-wrap sm:items-center items-start justify-between space-x-6">
  <h1 class="mb-4 font-serif xl:text-6xl lg:text-5xl text-4xl leading-none">{{title}}</h1>

  <a href="#" class="button bg-purple-300 hover:bg-purple-200 py-2 flex items-center justify-between md:space-x-5 space-x-3 lg:text-base text-tiny group" data-micromodal-trigger="modal-phlebologistCatalog">
    <span>Схема каталога</span>
    {% include '../svg/mindmap-svg.twig' with {classes: 'md:w-6 md:h-6 w-5 h-5 text-white transform group-hover:scale-105'} %}
  </a>
</div>